@mixin clearfix {
  content:'';
  display:table;
  clear:both;
}

@mixin left {
  float: left;
}

@mixin right {
  float: right;
}

@mixin box-sizing( $bz: border-box) {
  -ms-box-sizing: $bz;
  -moz-box-sizing: $bz;
  -webkit-box-sizing: $bz;
  box-sizing: $bz;
}

* {
  @include box-sizing;
  &:before {
    @include box-sizing;
  }
  &:after {
    @include box-sizing;  
  }
}
@mixin invisible-text {
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $bg-color;
  min-width: 320px;
}

@media (min-width: 480px) and (max-width: 1200px) {
  body{
  
  }
}

@media (min-width: 1200px) {
  html {
    background-color: lighten($bg-reason, 2%);
  }
  body { 
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2); 
  } 
  // Или добавить wrapper и прописывать эти свойства ему? Как логичнее и правильнее?
}

