@mixin clearfix {
  content:'';
  display:table;
  clear:both;
}

@mixin left {
  float: left;
}

@mixin right {
  float: right;
}

@mixin box-sizing( $bz: border-box) {
  -ms-box-sizing: $bz;
  -moz-box-sizing: $bz;
  -webkit-box-sizing: $bz;
  box-sizing: $bz;
}

* {
  @include box-sizing;
  &:before {
    @include box-sizing;
  }
  &:after {
    @include box-sizing;  
  }
}

@mixin invisible-text {
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}