@mixin middle-font($fz: 1.8rem, $lh: 2.6rem, $tt: uppercase, $fw: 700){
  font-size: $fz;
  line-height: $lh;
  text-transform: $tt;
  font-weight: $fw;
}

@mixin big-font($fz: 2.1rem, $lh: 2.6rem, $tt: uppercase, $fw: 700) {
  font-size: $fz;
  line-height: $lh;
  text-transform: $tt;
  font-weight: $fw;
}

@mixin large-font($fz: 3.0rem, $lh: 2.6rem, $tt: uppercase, $fw: 700) {
  font-size: $fz;
  line-height: $lh;
  text-transform: $tt;
  font-weight: $fw;
}
/* base */
html,
body {
  font-family: $font-family;
  font-size: $html-size-base;
  line-height: $line-height-base;
  color: $color-text-dark;
  text-transform: uppercase;
  font-weight: 400;
}

body {
  font-size: $font-size;
  a {
    text-decoration: none;
  }
}

.main-header {
  &__logo {
    color: $color-text-dark;
   /* text-decoration: none;*/
  }
  &__btn-menu {
    color: $color-text-dark;
    /*text-decoration: none;*/
  }
}

.main-menu {
  &__link {
    @include middle-font;
    color: $color-text-dark;
    /*text-decoration: none;*/
  }
}

.intro-content {
  &__title {
    @include middle-font;
  }
}

footer {
  color: $color-text-dark;
}

.footer-visitsedona {
  a {
    @include big-font;
    color: $color-text-dark;
    /*text-decoration: none;*/
  }
}

.footer-social {
  a {
    color: $color-text-dark;
    text-decoration: none;
  }
}

.footer-copyright {
  &__link {
    color: $color-text-dark;
    /*text-decoration: none;*/
  }
}
/* index */
.reasons-advantages {
  &__title {
    @include middle-font;
  }
}

.reason-description {
  &__title {
    @include middle-font;
  }
}

.advantages {
  &__title {
    @include middle-font;
  }
}

.reason-item {
  &__title {
    @include middle-font;
  }
}

.hotel-search {
  &__title {
    @include big-font;
  }
  &__link {
    @include big-font;
    color: $color-text-dark;
    /*text-decoration: none;*/
  }
}

/* blog */
.blog {
  &__title {
    &:first-child {
      @include large-font;
    }
  }
}
.post-item {
  a {
    text-decoration: none;
    
  }
  &__title {
    @include big-font;
    a {
    color: $color-text-dark;
    }
  }
  &__intro {
    line-height: 2.1rem;
  }
  &__time,
  &__tag {
      color: #999; 
      font-style: italic;
  }
}
.blog-pagination {
  a {
    @include big-font;
    text-decoration: none;
  }
}

/* post */

.post {
  &__intro-title {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
  &__intro {
    font-size: 1.8rem;
    text-transform: none;
  }
  &__title {
    @include large-font($lh: 2.8rem);
  }
  &__text {
    line-height: 2.4rem;
  }
  a {
    color: #766357;
    text-decoration: none;
  }
  &__list {
    font-weight: 700;
  }
  cite {
    color: #766357;
    font-style: italic;
    text-transform: none;
  }
}

.post-pagination {
  @include big-font;
}

/* form */
.form-review-intro {
  &__title {
    @include middle-font;
  }
}
.form-review{
  input[type=text] {
    @include middle-font;
    text-transform: none;
    &::-webkit-input-placeholder { font-family: $font-family; color: $color-text-dark;} 
    &::-moz-placeholder { font-family: $font-family; color: $color-text-dark; }
    &:-moz-placeholder { font-family: $font-family; color: $color-text-dark; }
    &:-ms-input-placeholder { font-family: $font-family; color: $color-text-dark; }
  }
  &__impression-data,
  &__sights {
    label {
      @include middle-font;
      text-transform: none;
    }
  }
  &__title {
    @include middle-font;
  }
  &__btn-select{
    @include middle-font;
  }
  &__btn-send {
    @include big-font;
  }
  input[type=submit], input[type=buttom] {
    font-family: $font-family;
  }
}
.popup {
  &__title,
  &__btn{
    @include middle-font;
  }
}