$bg-color: #fff;
$bg-main-menu: #81b3d2;
$bg-reason: #eee;
$bg-footer: #fefefe;

$color-text-light: #fff;
$color-text-dark: #000;

$font-family: "PT Sans", Arial, sans-serif;

$html-size-base: 10px;
$font-size: 1.4rem;
$line-height-base: 2.6rem;

$tablet-width: 480px; 
$desktop-width: 1200px; 