$bg-color: #fff;
$bg-main-menu: #81b3d2;
$bg-reason: #eee;
$bg-footer: #fefefe;

$color-text-light: #fff;
$color-text-dark: #000;

$color-shadow-light: #9ac2db;
$color-shadow-dark: #678fa8;

$font-family: "PT Sans", Arial, sans-serif;

$html-size-base: 10px;
$font-size: 1.4rem;
$line-height-base: 2.6rem;

$color-btn: #81b3d2;
$color-btn-hover: #669ec0;
$color-btn-active: #5496bd;