html, 
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $bg-color;
  min-width: 320px;
  .content-wrapper { 
    overflow: hidden;
  }
}

@include desktop {
  html, 
  body {
    background-color: lighten($bg-reason, 2%);
  }
  .content-wrapper { 
    margin: 0 auto;
    width: 1200px;
    background-color: $bg-color;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2); 
  } 
}
