.blog-pagination {
  display: block;
  margin-top: 45px;
  padding: 0 20px 29px 4px;
  font-size: 0;
  border-bottom: 2px solid #d6d6d6;
  &__title {
    @include big-font;
    display: none;
  }
  &__btn-page {
    display: inline-block;
    margin-left: 16px;
    margin-bottom: 16px;
    padding: 16px 23px;
    font-size: $font-size;
    vertical-align: middle;
    &--current {
      color: $color-text-dark;
      background-color: darken(#eeeeee, 3%);
    }
  }
  
  
  @include tablet {
    padding: 0 0 29px;
    font-size: 0;
    border: none;
    &:after {
      @include clearfix;
    }
    &__title {
      display: inline-block;
      margin: 0;
      width: 25%;
      padding-top: 16px;
      @include left;
    }
    &__pages {
      display: inline-block;
      width: 75%;
    }
    &__btn-page {
      margin-left: 8px;
    }
  }
  
  @include desktop {
    padding: 0 0 29px;
    font-size: 0;
    border: none;
    &:after {
      @include clearfix;
    }
    &__title {
      display: inline-block;
      margin: 0;
      width: 33%;
      padding-top: 16px;
      @include left;
      text-align: center;
    }
    &__pages {
      padding-left: 33px;
      display: inline-block;
      width: 67%;
    }
    &__btn-page {
      margin-left: 8px;
    }
  }
}

