.blog {
  
  &__intro {
    margin-bottom: 30px;
    text-align: center;
    &--post {
      margin-bottom: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
  }
  
  &__text {
    padding: 0 20px;
    line-height: 2.4rem;
  }
  
  &__posts {
    padding: 0 20px 29px;
    border-top: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
  }
  
}
@include tablet {
  .blog {
    &__intro {
      padding: 23px 0 36px;
      margin: 0;
    }
    &__posts {
      border: none;
      position: relative;
      font-size: 0;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: #d6d6d6;
      }
    }
  }
}
@include desktop {
  .blog {
    &__posts {
      border: none;
    }
  }
}