.footer-visitsedona {
  margin-bottom: 34px;
}
@include tablet {
  .footer-visitsedona {
    display: inline-block;
    margin: 0;
    padding: 0 5%;
    width: 33.3%;
    vertical-align: middle;
    a {
      vertical-align: middle;
    }
  }
}
@include desktop {
  .footer-visitsedona {
    display: inline-block;
    margin: 0;
    padding: 0 4%;
    width: 33.3%;
    vertical-align: middle;
    a {
      vertical-align: middle;
    }
  }
}