footer {
  padding: 26px;
  font-size: 0;
  text-align: center;
  background-color: $bg-footer;
}
@include tablet {
  footer {
   padding: 36px 0;
  }
}
@include desktop {
  footer {
   padding: 36px 0;
  }
}