.form-review-intro {
  padding-bottom: 5px;
  border-bottom: 1px solid darken($bg-reason, 3%);
  
  &__title{
    margin-bottom: 27px;
    text-align: center;
  }
  
  &__text {
    line-height: 2.3rem;
    text-align: center;
  }
}
  
.form-review {
  margin-bottom: 50px;
  
  fieldset {
    margin: 0; 
    margin-top: 18px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid darken($bg-reason, 3%);
    &:last-child {
      border-bottom: none;
    }
    legend{
      margin-left: 5px;
      margin-bottom: 5px;
      padding: 0;
      text-align: center;
    }
    
    span {
      margin-left: 4px;
      color: #ff3333;
    }
    a {
       @include invisible-text;
    }
  }
  
  &__personal-data {
    label{
        position: relative;
        display: block;
        margin-bottom: 8px;
        padding-left: 21px;
        text-align: left;
    }
  }
  
  &__trip-data {
    label{
        position: relative;
        display: block;
        margin-top: -5px;
        margin-bottom: 8px;
        padding-left: 21px;
        text-align: left;
    }
    input[type="text"] {
      margin-bottom: 21px;
    }
  }
  
  &__btn-plus,
  &__btn-minus {
    display: inline-block;
    width: 62px;
    height: 56px;
    vertical-align: top;
    cursor: pointer;
  }
  &__btn-plus {
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 27px;
      left: 22px;
      width: 20px;
      height: 4px;
      border-radius: 4px;
      background-color: darken($bg-reason, 21%);
    }
    &:after {
      transform: rotate(90deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: darken($bg-reason, 38%);
      }
    }
    &:active {
      &:before,
      &:after {
        background-color: darken($bg-reason, 16%);
      }
    }
  }
  
  &__btn-minus {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 27px;
      left: 22px;
      width: 20px;
      height: 4px;
      border-radius: 4px;
      background-color: darken($bg-reason, 21%);
    }
    &:hover {
      &:before {
        background-color: darken($bg-reason, 38%);
      }
    }
    &:active {
      &:before {
        background-color: darken($bg-reason, 16%);
      }
    }
  }
  
  &__counter-trip {
    margin-bottom: 21px;
    font-size: 0;
    input[type="text"] {
      display: inline-block;
      margin: 0 6px;
      width: 144px;
    }
  }
  
  &__number-travelers {
    margin-bottom: 38px;
    font-size: 0;
    label {
      position: relative;
      display: block;
      margin-bottom: 8px;
      padding-left: 21px;
      font-size: 1.4rem;;
      text-align: left;
    }
    input[type="text"] {
      display: inline-block;
      margin: 0 6px;
      width: 144px;
    }
  }
  
  &__first-traveler,
  &__second-traveler {
    display: table;
    margin-bottom: 30px;
    @include clearfix;
    label {
      display: block;
    }
    .row-left {
      @include left;
      margin-right: 6px;
      width: 61px;
      text-align: center;
      label {
        margin-bottom: 8px;
      }
      input[type="text"] {
        padding: 0;
        width: 61px;
        height: 56px;
        text-align: center;
      }
    }
    .row-right {
      @include right;
      width: 213px;
      label {
        margin-bottom: 8px;
        padding-left: 20px;
      }
      input[type="text"] {
        width: 213px;
        height: 56px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__btn-select,
  &__btn-send {
    margin-top: -8px;
    margin-bottom: 55px;
    padding: 0;
    width: 280px;
    height: 58px;
    border: none;
  }
  &__btn-send {
    margin-bottom: 20px;
  }
  &__photos-gallery {
    margin-bottom: 20px;
    font-size: 0;
    line-height: 0;
    figure {
      position: relative;
      display: inline-block;
      margin: 0;
      margin-right: 35px;
      margin-bottom: 35px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  &__photo {
    display: block;
    max-width: 100%; 
    width: 70px;
    height: 70px;
  }
  &__photo-close {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 30px;
    height: 30px;
    @include invisible-text;
    border-radius: 50%;
    background-color: lighten($bg-reason, 2%);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 14px;
      left: 7px;
      width: 16px;
      height: 2px;
      background-color: darken($bg-reason, 21%);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:hover {
      background-color: darken($bg-reason, 3%);
      &:before,
      &:after {
        background-color: darken($bg-reason, 38%);
      }
    }
    &:active {
      background-color: darken($bg-reason, 9%);
      &:before,
      &:after {
        background-color: darken($bg-reason, 16%);
      }
    }
  }
}

@include tablet {
  .form-review-intro {
    margin: 0 20% 40px;
    padding-top: 7px;
    border-bottom: none;
    &__title {
      margin: 0;
      margin-bottom: 32px;
    }
  }
  .form-review {
    fieldset {      
      position: relative;
      margin: 0 7%;
      padding: 0;
      border-bottom: none;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 12px;
        
        width: 19%;
        height: 1px;
        background-color: darken($bg-reason, 3%);;
      }
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
      legend {
        margin: 0;
        padding: 0 45px;
      }
    }
    .form-wrapper {
      &:after {
        @include clearfix;
      }
    }
    &__col-2 {
      @include left;
      width: 42%;
      margin-right: 8%;
      &:last-child {
        margin-right: 0;
        float: right;
      }
    }
    &__col-3 {
      @include left;
      width: 28%;
      margin-right: 8%;
      &:last-child {
        margin-right: 0;
      }
    }
    &__personal-data {
      .form-wrapper{
        margin: 25px 0 63px;
      }
    }
    &__impression-data {
      .form-wrapper{
        margin: 42px 0 51px;
      }
    }
    &__trip-data {
      .form-wrapper{
        margin: 29px 0 0;
      }
    }
    &__counter-trip {
      input[type="text"]{
        width: 49%;
        margin: 0;
      }
      a {
        width: 61px;
      }
    }
    &__number-travelers {
      text-align: center;
      label{
        text-align: center;
      }
    }
    &__travelers-data {
      font-size: 0;
      .row-left,
      .row-right {
        font-size: 1.4rem;
        display: inline-block;
      }
      .row-left {
        width: 61px;
        margin-right: 7px;
        vertical-align: top;
      }
      .row-right {
        width: 90%;
        .form-review__col-3 {
          width: 32.5%;
          margin-right: 7px;
          &:last-child {
            margin-right: 0;
          }
        }
      }    
    }
    &__sights {
      .form-review__col-2 {
        &:first-child {
          @include right;
          margin-right: 0;
        }            
      }
    }
  }
}
//@include desktop {
//  
//}