.intro {
  position: relative;
  padding: 48px 20px;
  background: url(../img/bg-intro.jpg) no-repeat 50% 26%;
  background-size: cover;
  &__text-welcome{
      text-align: center;
    & img {
      width: 196px;
    }
  }
  &__text-sedona{
    margin: 52px 0 58px;
      text-align: center;
    & img {
      width: 280px;
    }
  }
  &__text-slogan{
      text-align: center;
    & img {
      width: 197px;
    }
  }
}
.intro,
.intro-form,
.intro-blog,
.intro-post {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 34px 210px;
    border-color: transparent transparent $bg-color transparent;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 0 0 210px;
    border-color: transparent transparent transparent $bg-color;
  }
}
.intro-form,
.intro-blog,
.intro-post {
    position: relative;
    margin-bottom: 67px;
    padding: 48px 20px 80px;
    background: url(../img/bg-intro.jpg) no-repeat 50% 26%;
    background-size: cover;
    &__text-sedona{
      text-align: center;
      & img {
        width: 174px;
      }
    }
}
.intro-blog,
.intro-post {
  margin-bottom: 40px;
}

@include tablet {
  .intro {
    padding: 76px 20px;
    &__text-welcome{
      text-align: center;
      & img {
        width: 255px;
      }
    }
    &__text-sedona{
      margin: 44px 0 47px;
        text-align: center;
      & img {
        width: 458px;
      }
    }
    &__text-slogan{
        text-align: center;
      & img {
        width: 295px;
      }
    }
    &:before{
      border-width: 36px 0 0 384px;
    }
    &:after {
      border-width: 0 0 36px 384px;
    }
  }
  .intro-form,
  .intro-blog,
  .intro-post {
    padding: 0;
    &__text-sedona{
      text-align: center;
      & img {
        padding: 103px 0;
        width: 458px;
      }
    }
  }
}
@include desktop {
  .intro {
    padding: 76px 20px 70px;
    border-bottom: 1px solid lighten($bg-reason, 2%);
    &__text-welcome{
      text-align: center;
      & img {
        width: 255px;
      }
    }
    &__text-sedona{
      margin: 44px 0 47px;
        text-align: center;
      & img {
        width: 458px;
      }
    }
    &__text-slogan{
        text-align: center;
      & img {
        width: 295px;
      }
    }
    &:before{
      border-width: 56px 0 0 600px;
    }
    &:after {
      border-width: 0 0 56px 600px;
    }
  }
  .intro-blog,
  .intro-post,
  .intro-form {
    margin-bottom: 40px;
    padding: 104px 20px 160px;
  }
}
