.main-menu {
  position: relative;
  background-color: $bg-main-menu;
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
  }
  &__item {
    display: none;
    border-bottom: 1px solid desaturate(darken($bg-main-menu, 13%), 20%);
    border-top: 1px solid lighten($bg-main-menu, 8%);
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
      box-shadow:  inset 0 -7px 15px -7px desaturate(darken($bg-main-menu, 13%), 30%);
    }
    &--logo {
      display: block;
      position: relative;
      order: 5;
      height: 56px;
      background-color: $bg-color;
      border: none;
    }
    &--show {
      display:block;
    }
  }
  &__logo {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    width: 138px;
    height: 70px;
    @include invisible-text;
    background: url(../img/logo-sedona@1x.png) no-repeat 50% 0,
                url(../img/logo-triangle.svg) no-repeat;
    cursor: pointer;
  }
  &__link {
    display: block;
    padding: 14px 0;
    color: $color-text-light;
    text-align: center;
  }
  
  &__btn-menu {
    position: absolute;
    top: 17px;
    right: 20px;
    display: flex;
    align-items: center;
    width: 23px;
    height: 22px;
    @include invisible-text;
    cursor: pointer;
    > span {
      position: relative;
      width: 100%;
      height: 4px;
      background: $bg-main-menu;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background: $bg-main-menu;
      }
      &:before {
        top: 9px;
      }
      &:after {
        bottom: 9px;
      }
    }
  }
  
  &__cross {
    position: absolute;
    top: 17px;
    right: 20px;
    display: none;
    width: 23px;
    height: 22px;
    @include invisible-text;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      left: -2px;
      width: 26px;
      height: 4px;
      background-color: $bg-color;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
    &--show {
      display:block;
    }
  }
  
  
  @include tablet {
    &__list {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
    &__item.btn,
    &__item--logo {
      display: flex;
      flex-basis: 20%;
      background-color: $bg-color;
      border: none;
      box-shadow: none;
      &:hover,
      &:active {
        background-color: $bg-color;
      }
    }
    &__item {
      &:first-child {
        order: 4;
      }
      &:last-child {
        order: 5;
      }
    }
    &__item--logo {
      order: 3;
    }
    &__link {
      width: 100%;
        color: $color-text-dark;
        &:hover {
          color: $bg-main-menu;
          background-color: $bg-color;
        }
        &:active {
          color: darken($bg-reason, 23%);
          background-color: $bg-color;
        }
      }
    &__btn-menu {
      display: none;
    }
  }
  
  
  @include desktop {
  &__list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  &__item.btn,
  &__item--logo {
    display: flex;
    flex-basis: 20%;
    background-color: $bg-color;
    border: none;
    box-shadow: none;
    &:hover,
    &:active {
      background-color: $bg-color;
    }
  }
  &__item {
    &:first-child {
      order: 4;
    }
    &:last-child {
      order: 5;
    }
  }
  &__item--logo {
    order: 3;
  }
  &__link {
    width: 100%;
    color: $color-text-dark;
    &:hover {
      color: $bg-main-menu;
      background-color: $bg-color;
    }
    &:active {
      color: darken($bg-reason, 23%);
      background-color: $bg-color;
    }
  }
  &__btn-menu {
    display: none;
  }
}
  
  
  @include retina {
    &__logo {
      background: url(../img/logo-sedona@2x.png) no-repeat 50% 0,
                  url(../img/logo-triangle.svg) no-repeat;
    }
  }
}