.post-pagination {
  margin-bottom: 24px;
  padding: 45px 20px 25px;
  font-size: 0;
  border-bottom: 2px solid darken($bg-reason, 9%);;
  border-top: 2px solid darken($bg-reason, 9%);;
  &:after {
    @include clearfix;
  }
  &__btn-page {
    display: inline-block;
    margin-bottom: 20px;
    width: 46.5%;
    @include big-font;
    text-align: center;
    span {
      display: none;
    }
    &--prev {
      margin-right: 7%;
    }
    &--back {
      width: 100%;
    }
  }
}

@include tablet {
  .post-pagination {
    margin: 10px;
    padding: 25px 46px 0;
    border: none;
    &__btn-page {
      &--prev,
      &--next,
      &--back {
      width: 31%;
      margin-right: 3.5%;
        margin-bottom: 0;
      }
      span {
        display: inline-block;
      }
      &--prev {
        float: left;
        margin-right: 3.5%;
      }
      &--next {
        float: right;
        margin-right: 0;
      }
      &--back {
        width: 31%;
        margin-right: 3.5%;
      }
    }
    
  }
}