.reason-description {
  padding: 40px 20px;
  color: $color-text-light;
  text-align: center;
  background-color: $bg-main-menu; 
  &__title {
    margin: 0;
    margin-bottom: 7px;
  }
  &__number {
    margin: 0;
    margin-bottom: 12px;
  }
  &__text {
    margin: 0;
    line-height: 2.1rem;
  }
}
