.reasons-advantages {
  &__intro{
    position: relative;
    margin:  31px 20px 42px;
    text-align: center;
  }
  &__title {
    margin: 0;
    margin-bottom: 27px;
    padding: 0 10px;
  }
}