.reason-image {  
  height: 256px;
  &--town {
    background: url(../img/reason-image1.jpg) no-repeat 50% 20%;
    background-size: cover;
  }
  &--bridge {
    background: url(../img/reason-image2.jpg) no-repeat 50% 20%;
    background-size: cover;
  }
}

@include tablet {
  .reason-image {
    @include right;
    width: 67%;
  }
}
@include desktop {
  .reason-image {
    @include right;
    width: 67%;
  }
}