.reason-description {
  position: relative;
  padding: 40px 20px;
  color: $color-text-light;
  text-align: center;
  background-color: $bg-main-menu; 
  &__title {
    margin: 0;
    margin-bottom: 7px;
  }
  &__number {
    margin: 0;
    margin-bottom: 12px;
  }
  &__text {
    margin: 0;
    line-height: 2.1rem;
  }
  
  
  @include tablet {
    width: 33%;
    height: 256px;
    padding: 45px 5%;
    &__number {
      margin-bottom: 19px;
    }
    &--town{
      @include left;
    }
    &--bridge {
      @include right;
    }
  }
  
  @include desktop {
    @include left;
    width: 33%;
    height: 256px;
    padding: 51px 5%;
    &__title {
      padding: 0 15%;
    }
    &__number {
      margin-bottom: 19px;
    }
    &--town{
      @include left;
    }
    &--bridge {
      @include right;
    }
  }
}


