.reasons {
  padding: 0 20px;
  text-align: center;
  background-color: $bg-reason;
}
@include tablet{
  .reasons {
    padding: 0;
    font-size: 0;
    text-align: center;
  }
}
@include desktop{
  .reasons {
    padding: 0;
    font-size: 0;
    text-align: center;
  }
}