.reasons-advantages {
  position: relative;
  &__intro{
    position: relative;
    margin:  31px 0 42px;
    padding: 0 20px;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      bottom: -42px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 0 0 300px;
      border-color: transparent transparent transparent $bg-main-menu;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -42px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 16px 300px;
      border-color: transparent transparent $bg-main-menu transparent;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 27px;
    padding: 0 10px;
  }
  
  
  @include tablet{
    margin-top: 56px;
    &__intro{
      margin: 0 50px 51px;
      &:before,
      &:after {
        display: none;
      }
    }
    &__title {
      padding: 0 11%;
    }
    &__text {
      padding: 0 10%;
    }
  }
  
  
  @include desktop {
    margin-top: 61px;
    &__intro{
      margin: 0 50px 51px;
      &:before,
      &:after {
        display: none;
      }
    }
    &__title {
      margin-bottom: 28px;
      padding: 0 21%;
    }
    &__text {
      padding: 0 20%;
    }
  }
}