.btn {
  color: darken($bg-reason, 73%);
  background-color: lighten($bg-reason, 2%);
  a{
    opacity: 0.3;
  }
  &:hover {
    background-color: darken($bg-reason, 3%);
    & a {
      opacity: 0.5;
    }
  }
  &:active{
    background-color: darken($bg-reason, 9%);;
    & a {
      opacity: 0.1;
    }
  }
}

lighten(#eeeeee, 2%); // #f2f2f2
 // #b8b8b8
 // #e5e5e5
 // #8c8c8c
 // #d5d5d5
 // #c4c4c4