[type=radio] {
  &+ label {
  color: limegreen;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 56px;
      height: 56px;
      background: url(../img/icon-radio.png) no-repeat 50% 50%;
    }
  }
  &:hover {
    &+ label {
      color: red;
    }
  }
}