.post {
  padding: 0 20px;
  padding-bottom: 14px;
  &__intro-title,
  &__intro {
    text-align: center;  
  }
  &__intro {
    margin-top: -4px;  
  }
  &__content {
    margin-top: 25px;
  }
  header {
    margin-top: 42px;
    margin-bottom: 30px;
    &:first-child {
      margin-top: 0;
    }
  }
  
  &__title {
    margin: 0;    
  }
  &__list {
    margin: 23px 0 19px;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 20px;
      &:before {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      width: 7px;
      height: 7px;
      background-color: $bg-main-menu;
      }
    }
  }
  blockquote {
    margin: 20px 0;
    padding-left: 20px;
    padding-right: 10px;
    border-left: 2px solid $bg-main-menu;
  }
  cite {
    display: block;
  }
}

@include tablet {
  .post {
    margin-top: 38px;
    padding: 0 6%;
    &__intro-title {
      margin: 0;
    }
    &__intro-title {
      margin: 0;
      padding: 0 50px;
    }
    header {
      margin-bottom: 24px;
    }
    &__content {
      margin-top: 42px;
      header {
        margin: 42px 0 30px;
      }
    }
    &__list {
      li {
        padding-left: 36px;
      }
    }
    blockquote {
      margin: 25px 0;
      padding-left: 20px;
      padding-right: 10px;
      width: 480px;
      line-height: 2rem;
      border-left: 2px solid $bg-main-menu;
    }
    cite {
      display: block;
    }
  }
}

@include desktop {
  .post {
    margin-top: 38px;
    padding: 0 200px;
    &__intro-title {
      margin: 0;
      padding: 0 50px;
    }
    &__intro {
      padding: 0 65px;
    }
    header {
      margin-bottom: 25px;
    }
    &__content {
      margin-top: 41px;
      header {
        margin: 42px 0 30px;
      }
    }
    &__list {
      li {
        padding-left: 36px;
      }
    }
    blockquote {
      margin: 25px 0;
      padding-left: 20px;
      padding-right: 10px;
      width: 480px;
      line-height: 2rem;
      border-left: 2px solid $bg-main-menu;
    }
    cite {
      display: block;
    }
  }
}